@charset "UTF-8";


body{
margin: 0;
padding: 0;
box-sizing: border-box;
background-image: linear-gradient(to right, green,indigo);
    /* backgroud: linear-gradient(green,indigo); */
}

header{
margin: 0;
padding: 0;
box-sizing: 0;
}
h1{
margin:0;
padding: 0
box-sizing: 0;
}
nav{
margin: 0;
padding: 0;
box-sizing:0;
}
